/* @font-face {
  font-family: "Redcollar";
  src: url("//db.onlinewebfonts.com/t/f02cf2e6e27a17bcfe9efa18c041c208.eot");
  src: url("//db.onlinewebfonts.com/t/f02cf2e6e27a17bcfe9efa18c041c208.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/f02cf2e6e27a17bcfe9efa18c041c208.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/f02cf2e6e27a17bcfe9efa18c041c208.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/f02cf2e6e27a17bcfe9efa18c041c208.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/f02cf2e6e27a17bcfe9efa18c041c208.svg#Redcollar") format("svg");
  font-style: normal;
  font-weight: 400;
} */

@font-face {
  font-family: "Redcollar";
  src: url("../fonts/Redcollar.woff2") format("woff2"),
    url("../fonts/Redcollar.woff") format("woff"),
    url("../fonts/Redcollar.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "TT Commons";
  src: url("../fonts/TT_Commons_Regular.woff2") format("woff2"),
    url("../fonts/TT_Commons_Regular.woff") format("woff"),
    url("../fonts/TT_Commons_Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

/* @font-face {
  font-family: "TT Commons";
  src: url("//db.onlinewebfonts.com/t/791b34a71c48acc600f240e9fdb57fb6.eot");
  src: url("//db.onlinewebfonts.com/t/791b34a71c48acc600f240e9fdb57fb6.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/791b34a71c48acc600f240e9fdb57fb6.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/791b34a71c48acc600f240e9fdb57fb6.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/791b34a71c48acc600f240e9fdb57fb6.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/791b34a71c48acc600f240e9fdb57fb6.svg#TT Commons") format("svg");
  font-style: normal;
  font-weight: 400;
} */

:root {
  --main-color: black;
  --accent-color: #F51B1B;
  --white-color: white;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;

}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: var(--main-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 4px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) var(--main-color);
  background-color: var(--main-color);
  color: var(--white-color);
  margin: 0;
  padding: 0;

  position: relative;
  width: 1440px;
  height: 860px;
  box-sizing: border-box;
}

h1,
h2 {
  margin-block-end: 0;
  margin-block-start: 0;
  font-family: 'Redcollar';
  font-weight: normal;
}

p {
  font-family: 'TT Commons';
  font-style: normal;
  font-weight: 400;
  margin-block-end: 0;
  margin-block-start: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
